body{
  -webkit-perspective: 800px; 
  -webkit-transform-style: preserve-3d;
  

}

.dir{
  -webkit-transform-style: preserve-3d; 
}

.floorTile{
  position:absolute;
  height:801px;
  width:801px;
}

#gun{

  -webkit-perspective: 300px;
  position:absolute;
}

.shot{
  height:100px;
  width: 100px;
  background-color:white;
  box-shadow: 0 0 50px #fefcc9, 
              10px -10px 30px #feec85, 
              -20px -20px 40px #ffae34, 
              20px -40px 50px #ec760c, 
              -20px -60px 60px #cd4606, 
              0 -80px 70px #973716, 
              10px -20px 80px #451b0e;
  position:absolute;
}

.gottem{

  background:none;
  text-align: center;
  
  font-family: Arial;
  font-size: 140px; text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  width: 60%;
  left: 20%;
  top: 100px;
  position:absolute;
  opacity: 0;

}

div{
  font-size: 100px;
  background: gray;
}